
.title-container{
    padding-block: 7rem;
    .title-container__title{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}
.container{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 5rem;
    .item-container{
        flex: 1;
    }
}


@media screen and (max-width: 768px) {
    .main-container{
        height: auto;
    }
    .container{
        flex-direction: column;
        height: auto;
        // padding-block: 5rem;
        height: auto;
        .item-container{
            flex: 1;
        }
    }

    .title-container{
      .title-container__title{
          justify-content: start !important;
      }
  }
    
}


