.project-detail{
    display: flex;
    flex-direction: row;
    padding-block: 3rem;
    .project-img-container{
        flex-grow: 1;
    }
    .project-info{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .technologies{
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            .tech{
                padding: 0.5rem 1rem;
                color: var(--text-color);
            }
        
        }
    }
    .actions-container{
        display: flex;
        gap: 1rem;
    }
    
}

.reverse{
    flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
    .project-detail{
        flex-direction: column;
        height: auto;
        padding-bottom: 0;
        padding-top: 0 !important;
        .project-img-container{
            flex: 1;
            padding-bottom: 2rem;
        }
        .project-info{
            flex: 1;
        }
    }
    
}